@model IEnumerable<ContactUs>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}

<h2>You have got @ViewBag.ContactUsCount Messages</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Post</th>
            <th scope="col">Reply via Mail</th>
        </tr>
    </thead>
    <tbody>

        @foreach (ContactUs item in Model)
        {
        <tr>
            <th scope="row">@count</th>
            <td>@item.CustomerName</td>
            <td>@item.CustomerEmail</td>
            <td>@item.Subject</td>
            <td>@item.Post</td>
            <td>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=new">
                    <i class="fa fa-envelope"></i>
                </a>
            </td>
        </tr>
            count++;
        }
    </tbody>
</table>
